.customSelectContainer {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 5px 0;
    cursor: pointer;
    font-size: 16px;
}

.customSelectContainer.disabled {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.customSelectValueContainer {
    display: block;
    width: calc(100% - 40px);
    position: relative;
}

.customSelectValueContainer.multipleContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.disabled .customSelectValueContainer {
    pointer-events: none;
    background-color: transparent;
}

.customSelectValue {
    position: relative;
    z-index: 5;
    padding: 0 10px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
}

.customSelectValue.hideCurrent {
    display: none;
}

.customSelectArrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transition: 200ms;
    transform: translateY(-50%);
    transform-origin: center;
    display: flex;
    aspect-ratio: 1/1;
}

.customSelectArrow.isOpen {
    transform: translateY(-50%) rotate(180deg);
}

.customSelectSearchInput {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 31px;
    background-color: transparent;
    color: #101828;
}

.customSelectSearchInput.multipleInput {
    position: static;
    width: auto;
    padding: 0;
}

.customSelectSearchInput:disabled {
    background-color: transparent;
}

.customSelectSearchInput::placeholder {
    color: #667085;
}

.customSelectDropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    width: calc(100% + 40px);
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 8px;
    background-color: #f9f9f9;
    z-index: 99;
    padding: 2px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.dropdown-item {
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.88);
    border-radius: 6px;
    position: relative;
    user-select: none;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.dropdown-item.selected {
    background-color: #e6f4ff;
    font-weight: 600;
}

.dropdown-item.selected .selected-icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 5px;
    position: relative;
    padding: 0 10px;
    align-items: center;
}

.dropdown-tag-item {
    background-color: #fff;
    border: 1px solid #D0D5DD;
    color: #344054;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 4px;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex: 0 0 auto;
}

.dropdown-tag-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5px;
}

.customSelectNotFoundContainer {
    text-align: center;
    color: #494949;
    padding: 20px 0;
}

.notFoundText {
    opacity: .5;   
}

.notFoundIcon {
    margin-top: 10px;
    opacity: .2;
}

.dropdown-enter {
    max-height: 0;
    opacity: 0;
    transform: translateY(-5px);
}

.dropdown-enter-active {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
    transition: all 100ms ease-out;
}

.dropdown-exit {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-exit-active {
    max-height: 0;
    opacity: 0;
    transform: translateY(-5px);
    transition: all 100ms ease-out;
}