.customSelectContainer {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 5px 0;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    transition: all 100ms ease-out;
}

.customSelectContainer.customSelectOpened {
    border-color: #D6BBFB;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(158, 119, 237, 0.24);
}

.customSelectContainer.disabled {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.04);
    color: #101828AA;
}

.customSelectValueContainer {
    display: block;
    width: calc(100% - 40px);
    position: relative;
    color: #101828;
}

.customSelectValueContainer.hasIcon {
    width: calc(100% - 80px);
}

.customSelectValueContainer.multipleContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    min-height: 31px
}

.disabled .customSelectValueContainer {
    pointer-events: none;
    background-color: transparent;
}

.customSelectValue {
    position: relative;
    z-index: 5;
    padding: 0 10px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.customSelectValue.hideCurrent {
    opacity: 0;
    pointer-events: none;
}

.customSelectArrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transition: 200ms;
    transform: translateY(-50%);
    transform-origin: center;
    display: flex;
    aspect-ratio: 1/1;
}

.customSelectArrow.isOpen {
    transform: translateY(-50%) rotate(180deg);
}

.customSelectSearchInput {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0 10px;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 31px;
    background-color: transparent;
    color: #101828;
}

.customSelectSearchInput.multipleInput {
    position: relative;
    padding: 0;
    flex: 1 0 0%;
}

.customSelectSearchInput.multipleInput:disabled {
    pointer-events: none;
}

.customSelectSearchInput:disabled {
    background-color: transparent;
}

.customSelectSearchInput::placeholder {
    color: #667085;
}

.customSelectDropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    width: calc(100% + 40px);
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 8px;
    background-color: #FFFFFF;
    z-index: 99;
    padding: 4px 6px;
    border: 1px solid #EAECF0;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.customSelectDropdown.hasIcon {
    left: -40px;
    width: calc(100% + 80px);
}

.dropdown-item {
    padding: 10px 8px;
    color: rgba(0, 0, 0, 0.88);
    border-radius: 6px;
    position: relative;
    user-select: none;
    margin-bottom: 1px;
    transition: 100ms ease-out;
}

.dropdown-item.hasEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-item:hover {
    background-color: #F9FAFB;
}

.dropdown-item.selected {
    background-color: #F9FAFB;
}

.dropdown-item.disabled-option {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: not-allowed;
}

.dropdown-item.selected .selected-icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-item.selected.hasSelectedIcon {
    padding-right: 35px;
}

.dropdown-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: relative;
    padding: 0 10px;
    align-items: center;
    flex: 1 0 0%;
}

.dropdown-tag-item {
    background-color: #fff;
    border: 1px solid #D0D5DD;
    color: #344054;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 4px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

.dropdown-tag-label {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 120px;
}

.dropdown-tag-close {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.customSelectNotFoundContainer {
    text-align: center;
    color: #494949;
    padding: 20px 0;
}

.notFoundText {
    opacity: .5;
}

.notFoundIcon {
    margin-top: 10px;
    opacity: .2;
}

.dropdown-enter {
    max-height: 0;
    opacity: 0;
    transform: translateY(-5px);
}

.dropdown-enter-active {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
    transition: all 100ms ease-out;
}

.dropdown-exit {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-exit-active {
    max-height: 0;
    opacity: 0;
    transform: translateY(-5px);
    transition: all 100ms ease-out;
}

.customSelectPrefixIcon {
    flex: 0 0 auto;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.customSelectDropdown::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.customSelectDropdown::-webkit-scrollbar-track {
    box-shadow: none;
}

.customSelectDropdown::-webkit-scrollbar-thumb {
    background: #EAECF0;
    border-radius: 10px;
}

.customSelectDropdown::-webkit-scrollbar-thumb:hover {
    background: #EAECF0;
}

.customSelectLabel {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.customSelectHint {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
}